frontend/node_modules/
frontend/.env

backend/env/
backend/api/migrations/
backend/api/__pycache__/
backend/backend/__pycache__/
backend/scraping/__pycache__/

backend/*.sqlite3
backend/db.sqlite3
backend/media/
backend/staticfiles/
backend/static/
backend/*.pyc
backend/.env